<ng-content></ng-content>

<p *ngFor="let print of user">{{ print.age }}</p>
<app-customer></app-customer>
<app-two-way></app-two-way>
<app-checkngif></app-checkngif>
<app-customer2></app-customer2>
<app-child [hero]="data"></app-child>

<h2>{{ name | uppercase }}</h2>
<h2>{{ name2 | lowercase }}</h2>
<h2>{{ currency | currency : "EUR" }}</h2>
<h2>{{ currency | number : "1.1-3" }}</h2>
<h2>{{ decimalData | number : "2.1-2" }}</h2>
<h2>{{ decimalData | percent : "1.1-2" }}</h2>
<h2>{{ name | slice : 1 - 5 }}</h2>
<h2>{{ jsonData | json | uppercase }}</h2>
<h2>{{ dateValue | date : "dd/MM/yyyy" }}</h2>

<h3>
  {{ 144 | sqrt }}
</h3>

<button [disabled]="disabled">click</button>
<button disabled="{{ disabled }}">click</button>
