<P *ngIf="check">YES Its Working</P>
<input type="text" placeholder="Enter the text" [(ngModel)]="data2" />

<h2>Entered Content : {{ data2 }}</h2>

<p *ngFor="let use of numarray">{{ use }}</p>

<div [ngSwitch]="colorSelected">
  <div *ngSwitchCase="'red'">Red</div>
  <div *ngSwitchCase="'blue'">blue</div>
  <div *ngSwitchCase="'yellow'">yellow</div>
</div>

<div>
  <p>Counter = {{ _maths.Counter }}</p>
</div>
